body {
    margin: 0px;
    padding: 0px;    
}

a:link {
text-decoration:none;
} 

.bouton {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
border-radius: 4px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
width: 90%;
}
  
.boutontransparent {
background-color: transparent;
color: #ffffff;
border: 1px solid #e7e7e7;
}
  
.boutontransparent:hover {
background-color: white;
color: #0075ff;
opacity: 1; 
}

.boutonblanc {
background-color: white;
color: #0075ff;
border: 1px solid #e7e7e7;
}
  
.boutonblanc:hover {
background-color: #e7e7e7;
opacity: 0.7; 
}

.boutonbleu {
background-color: #06a1f1;
color: #ffffff;
width: 50%;
}
      
.boutonbleu:hover {
background-color: #06a1f1;
opacity: 0.7; 
}

/* On screens that are 480px wide or less */
@media screen and (max-width: 480px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        height: 80px;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }

    .menuhamburger {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .menuhamburger img {
        height: 60px;
        width: 60px;
    }

    #navigation {
        height: 80px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #2b2f36;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #news-banner {
        height: 54px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #55bef3;
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        font-size: .9rem;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
    }

    h1 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
    }

    h2 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.2;
        text-align: center;
        color: #36383d;
    }

    h3 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    h4 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 0.6rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    h5 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.2;
        color: #b3ae8f;
    }

    h6 {
        font-family: Montserrat,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.2;
        color: #b3ae8f;
    }

    p {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
    }

    .main-title img {
        width: 95%;
    }

    .main-title {
        height: 637px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #0075ff;
        background-image: url(image/hero-pattern-02.png_1262x900.png);
        background-size: 150%;
        background-position-x: center;
        background-position-y: top;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .text{
        width: 100%;
        padding: 20px;
    }

    #featured {
        height: 202px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #eff3f4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sponsor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sponsor img {
        width: 10%;
    }

    #why-presentation {
        height: 909px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #eff3f4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #why-presentation p{
        color: #36383d;
    }

    #why-presentation img {
        width: 55%;
    }

    .designbrowser{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .deliverfaster{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #visual-drag-drop {
        height: 713px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #visual-drag-drop img {
        width: 90%;
    }

    #visual-drag-drop p{
        color: #36383d;
    }

    #animation {
        height: 703px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #animation img {
        width: 90%;
    }

    #animation p{
        color: #36383d;
    }

    #library {
        height: 654px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #323842;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #library img {
        width: 90%;
    }

    #library p {
        color: #b9bcc4;
    }

    #kristian {
        height: 630px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #eff3f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #kristian h1 {
        color: #36383d;
        text-align: center;
    }

    #kristian p {
        color: #36383d;
    }

    #kristian img {
        width: 25%;
        padding: 20px;
    }

    #publish-domain {
        height: 678px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #publish-domain h1 {
        color: #36383d;
        text-align: center;
    }

    #publish-domain p {
        color: #36383d;
    }

    #publish-domain img {
        width: 70%;
    }

    #export-code {
        height: 683px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #export-code h1 {
        color: #36383d;
        text-align: center;
    }

    #export-code p {
        color: #36383d;
    }

    #export-code img {
        width: 90%;
    }

    #showcase {
        height: 1895px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #323842;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #showcase img {
        width: 90%;
    }

    #showcase p {
        color: #b9bcc4;
    }

    #features {
        height: 2573px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #features h1 {
        color: #36383d;
    }

    #features p {
        color: #36383d;
    }

    #features img {
        width: 15%;
    }

    #register-now {
        height: 365px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #34435c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #register-now p {
        color: #b9bcc4;
    }

    #footer {
        height: 561px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #2b2f36;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #copyright {
        height: 40px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color:#242424;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #copyright h4 {
        color: #767676;
        text-align: center;
    }
}
  
  /* On screens that are 768px wide or less */
@media screen and (max-width: 768px) {

}

  /* On screens that are 1600px wide or less */
  @media screen and (max-width: 1600px) {

}
  